@import "../styles/styles.scss";
.header-container {
  margin: 20px;
}

.to-left {
  float: left;
}

.btn {
  font-size: 12px;
}

a i,
button i {
  padding-right: 5px;
}

.ng-select {
  font-size: 12px;
}
