<div class="header-container">
  <!-- <h5 class="to-left">Incentive Plan</h5>
    <div class="d-flex justify-content-end">
        <ng-select class="col-md-2" [clearable]="false" [items]="locations" bindLabel="name" autofocus bindValue="intId"
            [(ngModel)]="selectedLocationId" (change)="locationChange()"></ng-select>
        <a routerLink="add" class="btn btn-primary"><em class="fas fa-plus"></em> Add Incentive</a>
    </div> -->
  <div class="col-md-12 remove-padding">
    <table-cmp
      [_tableHeaders]="_tableHeaders"
      [tableData]="_tableData"
      (sortEvent)="sortEvent($event)"
      [dataLoaded]="dataLoaded"
      (contextMenuActionEmitter)="contextMenuActionEmit($event)"
      [id]="tableId"
      [pageConfig]="pageConfig"
      (onHyperLinkClick)="onHyperLinkClick($event)"
      [maxColumnsToDisplay]="10"
      [entity]="incentiveEntity"
      [minColumnsToDisplay]="5"
      columnMetaDataVersion="2.0"
      [eventData]="eventData"
    >
      <ng-container pageTitle>
        <h5 class="align-items-center">Incentive Plan</h5>
      </ng-container>
      <ng-container
        advanced-filter
        *ngIf="filterInput && filterInput.length > 0"
      >
        <div class="float-left ml-3">
          <filter
            [storedFilterId]="storedFilterId"
            (applySearchFilter)="applySearchFilter($event)"
            [entity]="incentiveEntity"
            [eventData]="eventData"
            tooltipKey="{{ tableId }}.filters"
          >
          </filter>
        </div>
      </ng-container>
      <ng-container navigateButtons>
        <!-- Header Row Buttons -->
        <div class="btn-group dropdown">
          <button
            type="button"
            title="Export Incentive"
            class="btn btn-primary btn-xs btn-round mr-2 border-radious"
            (click)="exportIncentiveContextMenuActionClick('currentSearch')"
          >
            <em class="fal fa-download"></em>
          </button>
          <!-- <ul *dropdownMenu class="dropdown-menu action-menu-ul" role="menu">
            <div *ngFor="let action of exportIncentivesactions">
              <li
                role="menuitem"
                class="dropdown-item action-menu-li"
                (click)="exportIncentiveContextMenuActionClick(action.clickEvent)"
              >
                <span class="li-label">{{ action.name }}</span>
              </li>
            </div>
          </ul> -->
        </div>
        <button
          *ngIf="
            iamservice.isUrlAccessible('/lightTable/incentivePlan/add', true)
          "
          type="button"
          (click)="addIncentive()"
          title="Add Incentive"
          class="btn btn-primary btn-xs btn-round"
          appTooltip
          [entity]="incentiveEntity"
          tooltipKey="incentiveSearchForm.add"
        >
          <span class="fas fa-plus"></span>
        </button>
      </ng-container>
    </table-cmp>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Summary</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" id="summaryPage">
    <incentive-summary
      [finalObject]="finalObject"
      [cycleIntervals]="cycleIntervals"
      [userInAnotherPlan]="userInAnotherPlan"
      [showEdit]="false"
      [hideOnEmail]="hideOnEmail"
      (closeClick)="closeSummary()"
    ></incentive-summary>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-md btn-secondary"
      aria-label="Email"
      (click)="shareSummaryViaEmail()"
    >
      <span class="fas fa-envelope"></span> Email
    </button>
    <button
      type="button "
      class="btn btn-md btn-secondary"
      (click)="modalRef.hide()"
    >
      Close
    </button>
  </div>
</ng-template>
<lib-custom-modal (clickEmit)="modalClickEvent($event)"> </lib-custom-modal>
<textarea
  id="textboxx_summaryPage"
  style="width: 300px; height: 600px; display: none"
>
To:
Subject: {{ emailSubject }}
X-Unsent: 1
Content-Type: text/html

<html>
<body>
        <img id="summaryImage_summaryPage" src="{ mailAttachmentPath }" />
        <br/><br/>
</body>
</html>
</textarea>
