@import "../styles/styles.scss";
.whight-bg {
  background-color: $button-white;
  height: 100%;
}

.summary-section {
  border: 1px solid $button-blue;
}

fieldset {
  padding: 12px;
  border: 1px $summary-step-shading-border solid;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;
}

legend {
  border: 0px $summary-step-shading-border solid;
  margin-left: -13px;
  padding: 6px 14px;
  width: auto;
  max-width: 100%;
  background: $summary-step-shading;
  border-radius: 3px;
  font-size: 13px;
  color: $summary-step-shading-color;
  margin-bottom: 0px;
  border-bottom-left-radius: 0px;
}

fieldset span {
  color: $font-color-black;
}

.summary-edit {
  position: absolute;
  right: 10px;
  top: 23px;
  z-index: 1;
}
.top-0 {
  top: 0px !important;
}
.user-pointer {
  cursor: pointer;
  color: #0097e6 !important;
}
