<div class="whight-bg">
  <div class="d-flex justify-content-center mb-4">
    <img
      alt="NO IMAGE"
      class="brand-icon mt-4"
      src="assets\images\logo_128_black_f.png"
    />
  </div>
  <div class="col-md-12">
    <fieldset>
      <legend>Property Details</legend>
      <div class="summary-edit" [ngClass]="{ 'top-0': isFirefox }">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          *ngIf="showEdit"
          (click)="goto(1)"
        >
          Edit
        </button>
      </div>
      <div class="col-md-12">
        <label>Property -</label> <span> {{ finalObject.locationName }}</span>
      </div>
      <div class="col-md-12">
        <label>Incentive Plan -</label> <span> {{ finalObject.name }}</span>
      </div>
      <div class="col-md-12">
        <label>Department -</label>
        <span> {{ finalObject.locationGroupName }}</span>
      </div>
      <div class="col-md-12">
        <label>Status -</label> <span> {{ finalObject.activeStatus }}</span>
      </div>
    </fieldset>
    <fieldset>
      <legend>Timeframe & Payout Details</legend>
      <div class="summary-edit" [ngClass]="{ 'top-0': isFirefox }">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          *ngIf="showEdit"
          (click)="goto(2)"
        >
          Edit
        </button>
      </div>
      <div class="col-md-12">
        <label>Timeframe -</label>
        <span>
          {{ finalObject.fromDate | date: "mediumDate" }} to
          {{ finalObject.toDate | date: "mediumDate" }}</span
        >
      </div>
      <div class="row col-md-12">
        <div class="col-md-7">
          <label>Incentive Cycle Frequency -</label>
          <span>
            {{
              finalObject.frequency == "Semi_Monthly"
                ? "Semi-monthly"
                : finalObject.frequency
            }}</span
          >
        </div>
        <div
          class="col-md-5"
          *ngIf="
            finalObject.frequency != 'Monthly' &&
            finalObject.frequency != 'Semi_Monthly'
          "
        >
          <div *ngIf="finalObject.firstDayOfCycle">
            <label>First Day Of Cycle -</label>
            <span> {{ finalObject.firstDayOfCycle }}</span>
          </div>
          <div *ngIf="finalObject.firstDayOfCycle">
            <label>Last Day Of Cycle -</label>
            <span> {{ finalObject.lastDayOfCycle }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <label>Incentive Cycle Close Day -</label>
        <span>
          {{
            finalObject.payoutDateForIncentive === -1
              ? "Last Day of Cycle"
              : finalObject.payoutDateForIncentive +
                " " +
                (finalObject.payoutDateForIncentive > 1 ? "Days" : "Day") +
                " After the Cycle Ends"
          }}</span
        >
      </div>
      <div *ngIf="!hideOnEmail" class="col-md-12">
        <div class="table-responsive-md mt-2">
          <table class="table mb-1">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="text-left">Start Date</th>
                <th scope="col" class="text-left">End Date</th>
                <th scope="col" class="text-left">Payout Date</th>
                <th scope="col" class="text-left">Locked</th>
                <th scope="col" class="text-left">UnLock Calculation</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let interval of cycleIntervals.intervals">
                <td class="text-left">
                  <span>{{ interval.fromDateStr }}</span>
                </td>
                <td class="text-left">
                  <span>{{ interval.toDateStr }}</span>
                </td>
                <td class="text-left">
                  <span>{{ interval.payoutDateStr }}</span>
                </td>
                <td class="text-left">
                  {{ interval.locked ? "Yes" : "No" }}
                </td>
                <td class="text-left">
                  <a
                    *ngIf="interval.locked; else nolock"
                    href="javascript:;"
                    (click)="unlockIntervalConfirmation(interval?.kid)"
                  >
                    <em class="fas fa-unlock fa-1"></em>
                  </a>
                  <ng-template #nolock>-</ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Team Members Details</legend>
      <div class="summary-edit" [ngClass]="{ 'top-0': isFirefox }">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          *ngIf="showEdit"
          (click)="goto(3)"
        >
          Edit
        </button>
      </div>
      <div class="col-md-12">
        <label>Plan Metric Type -</label>
        <span>
          {{
            industryId == 2 || industryId == 11
              ? finalObject.planMetricType === "Arrival"
                ? "Check out"
                : finalObject.planMetricType === "Daily"
                ? "Invoiced"
                : "Check in"
              : finalObject.planMetricType
          }}</span
        >
      </div>
      <div class="col-md-12">
        <label>Team Members -</label>
        <span
          *ngFor="
            let user of finalObject.selectedUsers;
            let c = count;
            let i = index
          "
        >
          <a class="user-pointer" (click)="openUserProfile(user.userId)">
            {{ user.name }}
            <ng-container *ngIf="i != c - 1">,</ng-container>
          </a>
        </span>
      </div>
      <div
        class="col-md-12"
        *ngIf="!hideOnEmail && userInAnotherPlan!.length > 0"
      >
        <label
          ><em
            class="info-icon text-warning fas fa-exclamation-triangle mr-2"
          ></em
          >This Team Member(s) is already assigned to another plan.</label
        >
        <div class="table-responsive-md mt-2">
          <table class="table mb-1">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="text-left">Name</th>
                <th scope="col" class="text-left">Location Name</th>
                <th scope="col" class="text-left">Department</th>
                <th scope="col" class="text-left">Status</th>
                <th scope="col" class="text-left w-40">User(s)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let plan of userInAnotherPlan">
                <td class="text-left">
                  <span
                    ><a
                      class="user-pointer"
                      target="_blank"
                      href="/admin/incentive/{{ plan.kid }}"
                      >{{ plan.name }}</a
                    ></span
                  >
                </td>
                <td class="text-left">
                  <span>{{ plan.locationName }}</span>
                </td>
                <td class="text-left">
                  <span>{{ plan.locationGroupName }}</span>
                </td>
                <td class="text-left">
                  <span>{{ plan.activeStatus }}</span>
                </td>
                <td class="text-left">
                  <a
                    class="user-pointer"
                    *ngFor="
                      let user of plan.users;
                      let i = index;
                      let c = count
                    "
                    (click)="openUserProfile(user.intId)"
                  >
                    {{ user.name
                    }}<ng-container *ngIf="i != c - 1">,</ng-container></a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>KPIs Configuration</legend>
      <div class="summary-edit" [ngClass]="{ 'top-0': isFirefox }">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          *ngIf="showEdit"
          (click)="goto(4)"
        >
          Edit
        </button>
      </div>
      <div class="row col-md-12">
        <div class="col-md-7">
          <label>Primary KPI -</label>
          <span> {{ finalObject?.majorKpiDetail?.name }}</span>
        </div>
        <div class="col-md-5">
          <label>Commission Pay As -</label>
          <span>
            {{
              finalObject.majorPayoutInPercentage
                ? "%"
                : finalObject.currencySymbol
            }}</span
          >
        </div>
      </div>
      <div class="col-md-12" *ngIf="finalObject.majorKpiMultiplier">
        <label>Incentive Payout KPI -</label>
        <span> {{ finalObject?.majorKpiMultiplierDetail?.name }}</span>
      </div>
    </fieldset>
    <fieldset>
      <legend>Incentive Tiers Details</legend>
      <div class="summary-edit" [ngClass]="{ 'top-0': isFirefox }">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          *ngIf="showEdit"
          (click)="goto(5)"
        >
          Edit
        </button>
      </div>
      <div class="row col-md-12">
        <div class="col-md-7">
          <label>No. Of Tier -</label> <span> {{ finalObject.noOfTiers }}</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive-md mt-2">
          <table class="table mb-1">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="text-left">Tier</th>
                <th scope="col" class="text-left">Tier Name</th>
                <th scope="col" class="text-left">Qualifying Range</th>
                <th scope="col" class="text-left">Payout Info</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let tierInfo of finalObject.incentivePlanTier;
                  let i = index;
                  let c = count
                "
              >
                <td class="text-left">
                  <span>{{ tierInfo.tierNo }}</span>
                </td>
                <td class="text-left">
                  <span>{{ tierInfo.tierName }}</span>
                </td>
                <td class="text-left">
                  <span
                    >{{ finalObject.majorKpiDetail.kpiPrepand
                    }}{{
                      finalObject.superTierStartFrom === 1
                        ? (tierInfo.tierThreshold | number: "1.2-2")
                        : (finalObject.incentivePlanTier[0].tierThreshold
                          | number: "1.2-2")
                    }}
                    {{ " " + finalObject.majorKpiDetail.kpiAppand }}
                    -
                    <span>{{
                      finalObject.superTierStartFrom === 1
                        ? i < c - 1
                          ? finalObject.majorKpiDetail.kpiPrepand
                          : ""
                        : finalObject.majorKpiDetail.kpiPrepand
                    }}</span
                    >{{
                      i < c - 1
                        ? (finalObject.incentivePlanTier[i + 1].tierThreshold -
                            0.01 | number: "1.2-2")
                        : finalObject.superTierStartFrom === 1
                        ? ""
                        : (finalObject.incentivePlanTier[i].tierThreshold
                          | number: "1.2-2")
                    }}
                    {{
                      finalObject.superTierStartFrom === 1
                        ? i < c - 1
                          ? " " + finalObject.majorKpiDetail.kpiAppand
                          : ""
                        : " " + finalObject.majorKpiDetail.kpiAppand
                    }}
                    {{
                      i < c - 1
                        ? ""
                        : (finalObject.superTierStartFrom === 1 ? "" : " and") +
                          " above"
                    }}
                  </span>
                </td>
                <td class="text-left">
                  <span>
                    {{
                      finalObject.majorPayoutInPercentage
                        ? ""
                        : (finalObject.majorKpiMultiplier ? "each " : "flat ") +
                          finalObject.currencySymbol
                    }}{{
                      finalObject.majorPayoutInPercentage
                        ? tierInfo.tierPayout
                        : (tierInfo.tierPayout | number: "1.2-2")
                    }}{{ finalObject.majorPayoutInPercentage ? "%" : "" }}</span
                  >
                  <span *ngIf="finalObject.majorPayoutInPercentage">
                    of
                    {{
                      finalObject.majorKpiMultiplier
                        ? finalObject?.majorKpiMultiplierDetail?.name
                        : industryId == 2 || industryId == 11
                        ? "Ancillary Revenue"
                        : "Incremental Revenue"
                    }}
                  </span>
                  <span
                    *ngIf="
                      !finalObject.majorPayoutInPercentage &&
                      finalObject.majorKpiMultiplier
                    "
                  >
                    of {{ finalObject?.majorKpiMultiplierDetail?.name }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
    <!-- Location tier code hide -->
    <!--   <fieldset>
      <legend>Incentive Super Tiers Details</legend>
      <div class="summary-edit" [ngClass]="{ 'top-0': isFirefox }">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          *ngIf="showEdit"
          (click)="goto(6)"
        >
          Edit
        </button>
      </div>
      <div class="row col-md-12">
        <div class="col-md-7">
          <label>Location Based Tier Enabled -</label>
          <span> {{ finalObject.isLocationBased ? "Yes" : "No" }}</span>
        </div>
      </div>
      <div class="row col-md-12" *ngIf="finalObject.isLocationBased">
        <div class="col-md-7">
          <label>No. of Location Tier -</label>
          <span> {{ finalObject.noOfTiers }}</span>
        </div>
      </div>
      <div class="col-md-12" *ngIf="finalObject.isLocationBased">
        <div class="table-responsive-md mt-2">
          <table class="table mb-1" *ngIf="finalObject.isLocationBasedCommon">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="text-left">Tier</th>
                <th scope="col" class="text-left">Tier Name</th>
                <th scope="col" class="text-left">Threshold Enabled</th>
                <th scope="col" class="text-left">Threshold</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tierInfo of finalObject.incentivePlanTier">
                <td class="text-center">
                  <span>{{ tierInfo.tierNo }}</span>
                </td>
                <td class="text-center">
                  <span>{{ tierInfo.tierName }}</span>
                </td>
                <td class="text-center">
                  <span>{{ tierInfo.locationTierEnabled ? "Yes" : "No" }}</span>
                </td>
                <td class="text-center">
                  <span
                    >{{ finalObject.majorKpiDetail.kpiPrepand
                    }}{{
                      tierInfo.locationTierThreshold | number: "1.2-2"
                    }}</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table mb-1" *ngIf="!finalObject.isLocationBasedCommon">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="text-left">Tier Name</th>
                <th
                  scope="col"
                  class="text-left"
                  *ngFor="let tierInfo of finalObject.incentivePlanTier"
                >
                  {{ tierInfo.tierName }}
                </th>
              </tr>
              <tr>
                <th scope="col" class="text-left">Payout</th>
                <th
                  scope="col"
                  class="text-left"
                  *ngFor="let tierInfo of finalObject.incentivePlanTier"
                >
                  {{
                    finalObject.majorPayoutInPercentage
                      ? ""
                      : finalObject.currencySymbol
                  }}{{
                    finalObject.majorPayoutInPercentage
                      ? tierInfo.tierPayout
                      : (tierInfo.tierPayout | number: "1.2-2")
                  }}{{ finalObject.majorPayoutInPercentage ? "%" : "" }}
                </th>
              </tr>
              <tr
                *ngIf="
                  newMonthlyLocationTiers !== null &&
                  newMonthlyLocationTiers !== '' &&
                  newMonthlyLocationTiers.length > 0
                "
              >
                <th scope="col" class="text-left">Threshold Enabled</th>
                <th
                  scope="col"
                  class="text-left"
                  *ngFor="
                    let tierInfo of finalObject.incentivePlanTier;
                    let i = index
                  "
                >
                  {{
                    newMonthlyLocationTiers[0].tierThresholds[i]
                      .isLocationTierEnabled
                      ? "Yes"
                      : "No"
                  }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let montlyTier of newMonthlyLocationTiers">
                <td class="text-center">
                  <span
                    >{{
                      montlyTier.frequency == 3
                        ? montlyTier.monthName
                        : montlyTier.fromDate
                    }}
                    {{ montlyTier.frequency == 3 ? "" : "~" }}
                    {{
                      montlyTier.frequency == 3
                        ? montlyTier.year
                        : montlyTier.toDate
                    }}</span
                  >
                </td>
                <td
                  class="text-center"
                  *ngFor="let thresold of montlyTier.tierThresholds"
                >
                  <span
                    >{{ finalObject.majorKpiDetail.kpiPrepand
                    }}{{ thresold.tierThreshold | number: "1.2-2" }}</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset> -->
    <fieldset>
      <legend>Product Configuration</legend>
      <div class="summary-edit" [ngClass]="{ 'top-0': isFirefox }">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          *ngIf="showEdit"
          (click)="goto(6)"
        >
          Edit
        </button>
      </div>
      <div class="col-md-12">
        <label>Product Specific -</label>
        <span> {{ finalObject.forProduct ? "Yes" : "No" }}</span>
      </div>
      <div class="col-md-12">
        <label>Products -</label>
        <span *ngIf="finalObject.productNames">
          {{ finalObject.productNames }}
        </span>
        <span *ngIf="!finalObject.productNames"> NA </span>
      </div>
    </fieldset>
    <fieldset>
      <legend>Advance Settings</legend>
      <div class="summary-edit" [ngClass]="{ 'top-0': isFirefox }">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          *ngIf="showEdit"
          (click)="goto(7)"
        >
          Edit
        </button>
      </div>
      <div class="row col-md-12">
        <div class="col-md-7">
          <label>Kicker -</label>
          <span *ngIf="finalObject?.majorKpiKicker">
            {{ finalObject?.majorKpiKickerDetail?.name }}</span
          >
          <span *ngIf="!finalObject?.majorKpiKicker"> No </span>
        </div>
        <div class="col-md-5" *ngIf="finalObject.majorKpiKicker">
          <label>Kicker Payout In -</label>
          <span *ngIf="finalObject.majorKpiKickerValueInPercentage"> %</span
          ><span *ngIf="!finalObject.majorKpiKickerValueInPercentage">
            {{ finalObject.currencySymbol }}</span
          >
        </div>
      </div>
      <div class="row col-md-12" *ngIf="finalObject.majorKpiKicker">
        <div class="col-md-7">
          <label>Kicker Qualifying Range -</label>
          <span>
            Min {{ finalObject.majorKpiKickerDetail.kpiPrepand
            }}{{
              finalObject.majorKpiKickerQualifyKpiValueFrom | number: "1.2-2"
            }}{{ finalObject.majorKpiKickerDetail.kpiAppand }}
            to Max
            {{ finalObject.majorKpiKickerDetail.kpiPrepand
            }}{{ finalObject.majorKpiKickerQualifyKpiValueTo | number: "1.2-2"
            }}{{ finalObject.majorKpiKickerDetail.kpiAppand }}</span
          >
        </div>
        <div class="col-md-5">
          <label>Kicker Value -</label>
          <span>
            {{
              finalObject.majorKpiKickerValueInPercentage
                ? ""
                : finalObject.currencySymbol
            }}{{
              finalObject.majorKpiKickerValueInPercentage
                ? finalObject.majorKpiKickerValue
                : (finalObject.majorKpiKickerValue | number: "1.2-2")
            }}{{ finalObject.majorKpiKickerValueInPercentage ? "%" : "" }}</span
          >
        </div>
      </div>
      <div class="col-md-12">
        <label>Max Payout Cap For Participate -</label>
        <span *ngIf="finalObject.maxIncentivePaidOut">
          {{ finalObject.currencySymbol
          }}{{ finalObject.maxIncentivePaidOut | number: "1.2-2" }}</span
        >
        <span *ngIf="!finalObject.maxIncentivePaidOut"> No </span>
      </div>
    </fieldset>
  </div>
</div>
<lib-custom-modal (clickEmit)="modalClickEvent($event)"> </lib-custom-modal>
