.input-control input {
  font-size: 0.83rem;
  padding: 23px 10px 6px 12px;
  display: block;
  width: 100%;
  border: none;
  border: 1px solid #dee2e6;
  border-radius: 0.3rem;
}

.input-control input:focus {
  outline: none;
  border: 1px solid #007bff;
}

.input-control label {
  color: #9a9a9a;
  font-size: 0.87rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 18px;
  top: 12px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label {
  top: 6px !important;
  font-size: 11px !important;
  color: #007bff !important;
}
.input-control .ng-valid ~ label {
  top: 6px;
  font-size: 11px;
}

.input-control input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
.input-inside-label {
  background: #fcfdff;
  line-height: 3.8;
  border-radius: 0.3rem;
  border: 1px solid #dee2e6;
}
.untouch-field-class {
  color: #9a9a9a !important;
  font-size: 0.83rem !important;
  font-weight: normal !important;
  position: absolute !important;
  pointer-events: none !important;
  left: 18px !important;
  top: 14px !important;
  transition: 0.2s ease all !important;
  -moz-transition: 0.2s ease all !important;
  -webkit-transition: 0.2s ease all !important;
}
.touch-field-class {
  top: 6px !important;
  font-size: 11px !important;
}
