$button-blue: #0097e6 !default;
$button-white: #ffffff !default;
$button-white-hover: #f2f2f2 !default;
$button-white-border: #f6fafd !default;
$button-white-shadow: #ccc !default;
$font-color-black: #1a2035 !default;
$body-bg-white: #e3e8ee !default;
$input-bg-white: #edf0f5;
$input-focus-blue: #80bdff;
$input-error: #dc3545;
$text-ligh-gray: #939494;
$header-dark: #2d3e50;
$header-dark-light-highlighter: #415264;
$container-grey-broder: #dbdde0;
$summary-step-shading: #2e3f51;
$summary-step-shading-border: #ecf1f7;
$summary-step-shading-color: #fff;
$table-header-light: #ecf1f7;
$table-boarder-light: #ecf1f7;

.header-dark {
  font-weight: 600;
}
.h5,
h5 {
  font-size: 18px;
}
