<div class="header-container" (window:keydown)="developerMode($event)">
  <div class="two-edge">
    <h5 class="align-items-center" *ngIf="!kid">Create Your Incentive Plan</h5>
    <h5 class="align-items-center" *ngIf="kid">Edit Your Incentive Plan</h5>
    <!-- <div class="steps align-items-center">
      <span class="bs-tool-parent"
        ><em
          class="info-icon fas fa-info-circle mr-2"
          placement="left"
          tooltip="{{ labels['step' + step + 'Info'] }}"
        ></em
      ></span>
      <span *ngIf="step < steps.length">{{ step }} of {{ steps.length }}</span>
      <span *ngIf="step === steps.length">Summary</span>
    </div> -->
  </div>
  <hr />
  <lib-wizard
    [steps]="steps"
    [step]="step"
    [clickableStep]="clickableStep"
    [skippable]="skippable"
    [warningMsg]="warningMsg"
    [isSaveDraftEnabled]="kid && incentiveStatus === 'Normal' ? false : true"
    (prev)="prev()"
    (next)="next()"
    (cancel)="cancel()"
    (skip)="skip()"
    (goto)="jumpTo($event)"
    (draft)="draft()"
    [globalValidationMessage]="globalValidationMessage"
    [tooltipKey]="wizardKey"
    [entity]="tooltipEntity"
    [stepCancel]="stepCancel"
    [stepContinue]="stepContinue"
    [stepSkip]="stepSkip"
    [stepPrev]="stepPrev"
    [draftButtonTooltip]="draftButtonTooltip"
  >
    <ng-container 1>
      <form [formGroup]="stepForm[0]">
        <div class="form-row mt-3">
          <br />
          <div
            class="form-group col-md-6 mb-4 input-control"
            appTooltip
            entity="{{ tooltipEntity }}"
            tooltipKey="{{ incentiveTooltipKeys['incentiveProperty'] }}"
          >
            <ng-select
              class="search-box form-field-big"
              formControlName="location"
              [clearable]="false"
              [items]="locations"
              autofocus
              bindLabel="name"
              bindValue="intId"
              (change)="locationChange()"
              [readonly]="disableControl"
            >
            </ng-select>
            <label required [attr.non-editable]="disableControl"
              >Select Your Property</label
            >
            <small id="propertyHelp" class="form-text text-muted"
              >Type name to list the property.</small
            >
            <lib-validation
              [control]="stepForm[0].controls.location"
            ></lib-validation>
          </div>
          <div class="form-group col-md-6 mb-4 input-control">
            <input
              type="text"
              formControlName="name"
              id="name"
              autocomplete="off"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{ incentiveTooltipKeys['incentiveName'] }}"
            />
            <label required>Name Your Incentive Plan</label>
            <lib-validation
              [control]="stepForm[0].controls.name"
            ></lib-validation>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12 mb-4">
            <label
              for="department"
              required
              [attr.non-editable]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{ incentiveTooltipKeys['incentiveDepartment'] }}"
              >Select Your Department</label
            >
            <div class="clearfix"></div>
            <div
              class="btn-group"
              btnRadioGroup
              formControlName="department"
              [class.disableDiv]="disableControl"
            >
              <label
                *ngFor="let group of locationGroups"
                class="btn btn-image btn-secondary ml-0"
                [btnRadio]="'' + group.intId"
                tabindex="0"
                role="button"
              >
                <em class="fas fa-building"></em>
                <span>{{ group.name }}</span>
              </label>
            </div>
            <lib-validation
              [control]="stepForm[0].controls.department"
            ></lib-validation>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container 3>
      <form [formGroup]="stepForm[2]">
        <div class="form-row mt-3">
          <div class="col-md-12">
            <label
              for="planMetricType"
              required
              [attr.non-editable]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{ incentiveTooltipKeys['incentiveMetricType'] }}"
              >Plan Metric Type</label
            >
          </div>
          <div class="form-group col-md-12 mb-4">
            <div
              class="btn-group"
              btnRadioGroup
              formControlName="planMetricType"
              [class.disableDiv]="disableControl"
            >
              <label
                class="btn btn-md btn-secondary ml-0"
                [btnRadio]="'' + metricsDataType.Arrival"
                tabindex="0"
                role="button"
              >
                <span>{{
                  industryId == 2 || industryId == 11 ? "Check out" : "Arrival"
                }}</span>
              </label>
              <label
                class="btn btn-md btn-secondary"
                [btnRadio]="'' + metricsDataType.Daily"
                tabindex="0"
                role="button"
              >
                <span>{{
                  industryId == 2 || industryId == 11 ? "Invoiced" : "Daily"
                }}</span>
              </label>
              <label
                class="btn btn-md btn-secondary"
                [btnRadio]="'' + metricsDataType.Departure"
                tabindex="0"
                role="button"
              >
                <span>{{
                  industryId == 2 || industryId == 11 ? "Check in" : "Departure"
                }}</span>
              </label>
            </div>
            <lib-validation
              [control]="stepForm[2].controls.planMetricType"
            ></lib-validation>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12 mb-2">
            <div class="clearfix"></div>
            <lib-selector
              *ngIf="userOptions && userOptions.items.length > 0"
              [options]="userOptions"
              [warnOnOptionValues]="warnOnOptionValues"
              (selectedItems)="selectedUserItems($event)"
              selectAlltooltipKey="selector.users.selectAll"
              deSelectAlltooltipKey="selector.users.deSelectAll"
              [tooltipEntity]="tooltipEntity"
            ></lib-selector>
            <div
              class="custom-invalid-feedback"
              *ngIf="
                stepForm[2].get('users')?.dirty &&
                stepForm[2].errors?.minSelection
              "
            >
              Please select your participants
            </div>
            <div class="mt-2" *ngIf="warningUsersNotInGroup">
              <em
                class="info-icon text-warning fas fa-exclamation-triangle mr-2"
              ></em>
              {{ warningUsersNotInGroup }}
            </div>
            <div
              class="mt-2"
              *ngIf="showUserWarning && userInAnotherPlan!.length > 0"
            >
              <label
                ><em
                  class="info-icon text-warning fas fa-exclamation-triangle mr-2"
                ></em
                >This Team Member(s) is already assigned to another plan.</label
              >
              <button
                type="button"
                class="btn btn-sm btn-secondary ml-3"
                (click)="showUserWarning = false"
              >
                Dismiss warning
              </button>
              <div class="table-responsive-md mt-2">
                <table class="table mb-1">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="text-left">Name</th>
                      <th scope="col" class="text-left">Location Name</th>
                      <th scope="col" class="text-left">Department</th>
                      <th scope="col" class="text-left">Status</th>
                      <th scope="col" class="text-left w-40">User(s)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let plan of userInAnotherPlan">
                      <td class="text-left">
                        <span
                          ><a
                            target="_blank"
                            href="/admin/incentive/{{ plan.kid }}"
                            >{{ plan.name }}</a
                          ></span
                        >
                      </td>
                      <td class="text-left">
                        <span>{{ plan.locationName }}</span>
                      </td>
                      <td class="text-left">
                        <span>{{ plan.locationGroupName }}</span>
                      </td>
                      <td class="text-left">
                        <span>{{ plan.activeStatus }}</span>
                      </td>
                      <td class="text-left">
                        <a
                          class="user-pointer"
                          *ngFor="
                            let user of plan.users;
                            let i = index;
                            let c = count
                          "
                          (click)="openUser(user)"
                        >
                          <span
                            >{{ user.name
                            }}<ng-container *ngIf="i != c - 1"
                              >,</ng-container
                            ></span
                          ></a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- (selectedItems) = "selectedUserItems($event)" -->
      </form>
    </ng-container>
    <ng-container 2>
      <form [formGroup]="stepForm[1]">
        <div class="form-row mt-3">
          <div class="form-group col-md-6 mb-4">
            <label for="timeframe" required>Select Incentive Timeframe</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span
                  class="btn btn-secondary input-group-text"
                  id="inputGroupTimeFrame"
                  ><em class="fas fa-calendar-alt"></em
                ></span>
              </div>
              <input
                type="text"
                placeholder="Daterangepicker"
                class="font-black col-md-8 btn btn-secondary d-block"
                bsDaterangepicker
                [bsConfig]="{
                  rangeInputFormat: 'MMM DD,YYYY',
                  dateInputFormat: 'MMM DD,YYYY',
                  ranges: ranges
                }"
                formControlName="timeframe"
                aria-describedby="inputGroupTimeFrame"
                appTooltip
                entity="{{ tooltipEntity }}"
                tooltipKey="{{ incentiveTooltipKeys['incentiveTimeFrame'] }}"
              />
            </div>
            <!-- {{stepForm[1].controls.timeframe?.invalid}} {{stepForm[1].controls.timeframe?.errors | json}} {{stepForm[1].controls.timeframe?.errors?.hasOwnProperty('invalidDate')}} -->
            <div
              *ngIf="
                stepForm[1].controls.timeframe?.invalid &&
                  stepForm[1].controls.timeframe?.errors?.hasOwnProperty(
                    'invalidDate'
                  );
                else validDateElse
              "
              class="custom-invalid-feedback"
            >
              This plan has pay out done till
              {{ cycleIntervals?.validEndDate | date: "mediumDate" }}, hence you
              can not change start date and, end date can not be less than
              {{ cycleIntervals?.validEndDate | date: "mediumDate" }}. You can
              just extend a plan.
            </div>
            <ng-template #validDateElse>
              <lib-validation
                [control]="stepForm[1].controls.timeframe"
              ></lib-validation>
            </ng-template>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <label
              for="frequency"
              required
              [attr.non-editable]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{ incentiveTooltipKeys['incentiveFrequency'] }}"
              >Select Your Incentive Cycle Frequency</label
            >
          </div>
          <div class="form-group col-md-12 mb-4">
            <div
              class="btn-group"
              btnRadioGroup
              formControlName="frequency"
              [class.disableDiv]="disableControl"
            >
              <label
                class="btn btn-xl btn-secondary ml-0"
                [btnRadio]="'' + incentiveFrequency.Weekly"
                tabindex="0"
                role="button"
              >
                <span>Weekly</span>
              </label>
              <label
                class="btn btn-xl btn-secondary"
                [btnRadio]="'' + incentiveFrequency.Biweekly"
                tabindex="0"
                role="button"
              >
                <span>Biweekly</span>
              </label>
              <label
                class="btn btn-xl btn-secondary"
                [btnRadio]="'' + incentiveFrequency.Semi_Monthly"
                tabindex="0"
                role="button"
              >
                <span>Semi-monthly</span>
              </label>
              <label
                class="btn btn-xl btn-secondary"
                [btnRadio]="'' + incentiveFrequency.Monthly"
                tabindex="0"
                role="button"
              >
                <span>Monthly</span>
              </label>
            </div>
            <lib-validation
              [control]="stepForm[1].controls.frequency"
            ></lib-validation>
          </div>
        </div>
        <div
          class="form-row"
          *ngIf="
            stepForm[1].controls['frequency'].value !==
              '' + incentiveFrequency.Monthly &&
            stepForm[1].controls['frequency'].value !==
              '' + incentiveFrequency.Semi_Monthly
          "
        >
          <div class="col-md-12">
            <label
              for="firstDayOfCycle"
              required
              [attr.non-editable]="disableControl"
              >First Day of Cycle</label
            >
          </div>
          <div class="form-group col-md-12 mb-4">
            <div
              class="d-flex btn-group"
              btnRadioGroup
              formControlName="firstDayOfCycle"
              [class.disableDiv]="disableControl"
            >
              <label
                class="btn btn-md btn-secondary ml-0 mr-2"
                [btnRadio]="'' + weekDays.Sunday"
                tabindex="0"
                role="button"
              >
                <span>Sunday</span>
              </label>
              <label
                class="btn btn-md btn-secondary ml-0 mr-2"
                [btnRadio]="'' + weekDays.Monday"
                tabindex="0"
                role="button"
              >
                <span>Monday</span>
              </label>
              <label
                class="btn btn-md btn-secondary ml-0 mr-2"
                [btnRadio]="'' + weekDays.Tuesday"
                tabindex="0"
                role="button"
              >
                <span>Tuesday</span>
              </label>
              <label
                class="btn btn-md btn-secondary ml-0 mr-2"
                [btnRadio]="'' + weekDays.Wednesday"
                tabindex="0"
                role="button"
              >
                <span>Wednesday</span>
              </label>
              <label
                class="btn btn-md btn-secondary ml-0 mr-2"
                [btnRadio]="'' + weekDays.Thursday"
                tabindex="0"
                role="button"
              >
                <span>Thursday</span>
              </label>
              <label
                class="btn btn-md btn-secondary ml-0 mr-2"
                [btnRadio]="'' + weekDays.Friday"
                tabindex="0"
                role="button"
              >
                <span>Friday</span>
              </label>
              <label
                class="btn btn-md btn-secondary ml-0 mr-2"
                [btnRadio]="'' + weekDays.Saturday"
                tabindex="0"
                role="button"
              >
                <span>Saturday</span>
              </label>
            </div>
            <lib-validation
              [control]="stepForm[1].controls.firstDayOfCycle"
            ></lib-validation>
            <small id="firstDayOfCycle" class="form-text text-muted"
              >Last Day of Cycle -
              <strong>{{ weekDays[lastDayOfCycle] }}</strong></small
            >
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <label
              for="payoutDateForIncentive"
              required
              [attr.non-editable]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{ incentiveTooltipKeys['incentivePayoutDate'] }}"
              >Select Your Incentive Cycle Close Day</label
            >
            <span
              class="bs-tool-parent"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{
                incentiveTooltipKeys['incentivePayoutDateInformation']
              }}"
              componentType="information"
            ></span>
          </div>
          <div class="form-group col-md-12 mb-4">
            <div
              class="d-flex flex-wrap btn-group"
              btnRadioGroup
              formControlName="payoutDateForIncentive"
              [class.disableDiv]="disableControl"
            >
              <label
                class="btn btn-xl btn-secondary ml-0 mr-3 btn-xl-fix-width"
                [btnRadio]="'-1'"
                tabindex="0"
                role="button"
              >
                <span>Last Day of Cycle</span>
              </label>
              <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                <label
                  class="btn btn-xl btn-secondary ml-0 mr-3 btn-xl-fix-width"
                  [btnRadio]="'' + i"
                  tabindex="0"
                  role="button"
                >
                  <span
                    >{{ i }} {{ i > 1 ? "Days" : "Day" }} After the Cycle
                    Ends</span
                  >
                </label>
              </ng-container>
            </div>
            <lib-validation
              [control]="stepForm[1].controls.payoutDateForIncentive"
            ></lib-validation>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container 4>
      <form [formGroup]="stepForm[3]">
        <div class="form-row mt-3">
          <div class="form-group col-md-6 d-flex input-control mt-2">
            <ng-select
              class="form-field-big pl-0 col-md-10 pr-0 mr-2"
              formControlName="primaryKpi"
              [clearable]="false"
              [items]="majorKpis"
              bindLabel="name"
              autofocus
              bindValue="intId"
              [readonly]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{ incentiveTooltipKeys['incentivePrimaryKPI'] }}"
            ></ng-select>
            <label required [attr.non-editable]="disableControl"
              >Primary KPI</label
            >
            <span
              class="bs-tool-parent"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{
                incentiveTooltipKeys['incentivePrimaryKPIInformation']
              }}"
              componentType="information"
            ></span>
            <lib-validation
              [control]="stepForm[3].controls.primaryKpi"
            ></lib-validation>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label
              for="inputState"
              [attr.non-editable]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{
                incentiveTooltipKeys['incentiveCommissionPayment']
              }}"
              >Select commission payment method</label
            >
            <span
              class="bs-tool-parent"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{
                incentiveTooltipKeys['incentiveCommissionPaymentInformation']
              }}"
              componentType="information"
            ></span>
            <div class="clearfix"></div>
            <div
              class="btn-group"
              btnRadioGroup
              formControlName="payoutInPercentage"
              [class.disableDiv]="disableControl"
            >
              <label
                class="btn ml-0 btn-sm btn-secondary mt-1"
                [btnRadio]="'0'"
                tabindex="0"
                role="button"
              >
                <span>{{ currency | currencySymbol }}</span>
              </label>
              <label
                class="btn btn-sm btn-secondary mt-1"
                [btnRadio]="'1'"
                tabindex="0"
                role="button"
              >
                <span>%</span>
              </label>
            </div>
            <lib-validation
              [control]="stepForm[3].controls.payoutInPercentage"
            ></lib-validation>
          </div>
        </div>
        <!-- If Primary KPI is non revenue KPI and payout in percentage, then only ask for multiplier -->
        <div class="form-row hide">
          <div class="form-group col-md-6">
            <label
              for="multiplier"
              required
              [attr.non-editable]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{ incentiveTooltipKeys['incentiveMultiplier'] }}"
              >Are you paying incentive on multiplier?</label
            >
            <span
              class="bs-tool-parent"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{
                incentiveTooltipKeys['incentiveMultiplierInformation']
              }}"
              componentType="information"
            ></span>
            <div class="clearfix"></div>
            <div
              class="btn-group"
              btnRadioGroup
              formControlName="multiplier"
              [class.disableDiv]="disableControl"
            >
              <label
                class="btn ml-0 btn-sm btn-secondary"
                [btnRadio]="'1'"
                tabindex="0"
                role="button"
                appTooltip
                entity="{{ tooltipEntity }}"
                tooltipKey="{{
                  incentiveTooltipKeys['incentiveMultiplierYes']
                }}"
              >
                <span>Yes</span>
              </label>
              <label
                class="btn btn-sm btn-secondary"
                [btnRadio]="'0'"
                tabindex="0"
                role="button"
                appTooltip
                entity="{{ tooltipEntity }}"
                tooltipKey="{{ incentiveTooltipKeys['incentiveMultiplierNo'] }}"
              >
                <span>No</span>
              </label>
            </div>
            <lib-validation
              [control]="stepForm[3].controls.multiplier"
            ></lib-validation>
          </div>
        </div>
        <div
          class="form-row"
          *ngIf="
            !isPrimaryARevenuKPI &&
            stepForm[3].controls['payoutInPercentage'].value === '1'
          "
        >
          <div class="form-group col-md-6 input-control mt-2">
            <div class="d-flex">
              <ng-select
                class="form-field-big pl-0 col-md-10 pr-0 mr-2"
                formControlName="multiplierKpi"
                [clearable]="false"
                [items]="
                  stepForm[3].controls['payoutInPercentage'].value === '1'
                    ? amountResultingKpi
                    : quantityResultingKpi
                "
                bindLabel="name"
                autofocus
                bindValue="intId"
                [readonly]="disableControl"
              ></ng-select>
              <label required>Incentive Payout KPI</label>
              <span class="bs-tool-parent"
                ><em
                  class="info-icon ml-1 fas fa-info-circle mr-2"
                  placement="right"
                  tooltip="{{ labels['multiplier'] }}"
                ></em
              ></span>
            </div>
            <div class="clearfix"></div>
            <small id="multiplierKpiHelp" class="form-text text-muted"
              >Payout = Incentive Payout KPI * (Tier Payout)</small
            >
            <lib-validation
              [control]="stepForm[3].controls.multiplierKpi"
            ></lib-validation>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container 5>
      <form [formGroup]="stepForm[4]">
        <div class="form-row mt-3">
          <div class="col-md-12">
            <label
              for="noOfTiers"
              required
              [attr.non-editable]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{ incentiveTooltipKeys['incentiveNoOfTiers'] }}"
              >Select Number Of Tiers</label
            >
          </div>
          <div class="form-group col-md-12 mb-4">
            <div
              class="btn-group"
              btnRadioGroup
              formControlName="noOfTiers"
              [class.disableDiv]="disableControl"
            >
              <label
                class="btn ml-0 btn-xs btn-secondary"
                [btnRadio]="'3'"
                tabindex="0"
                role="button"
              >
                <span>3</span>
              </label>
              <label
                class="btn btn-xs btn-secondary"
                [btnRadio]="'4'"
                tabindex="0"
                role="button"
              >
                <span>4</span>
              </label>
              <label
                class="btn btn-xs btn-secondary"
                [btnRadio]="'5'"
                tabindex="0"
                role="button"
              >
                <span>5</span>
              </label>
            </div>
            <lib-validation
              [control]="stepForm[4].controls.noOfTiers"
            ></lib-validation>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <label
              for="supertier"
              [attr.non-editable]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{ incentiveTooltipKeys['incentiveSupertier'] }}"
              >Limit Commission per Tier</label
            >
            <span
              class="bs-tool-parent"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{
                incentiveTooltipKeys['incentiveLimitCommission']
              }}"
              componentType="information"
            ></span>
          </div>
          <div class="form-group col-md-12 mb-4">
            <div
              class="btn-group"
              btnRadioGroup
              formControlName="supertier"
              [class.disableDiv]="disableControl"
            >
              <label
                class="btn ml-0 btn-sm btn-secondary"
                [btnRadio]="'1'"
                tabindex="0"
                role="button"
              >
                <span>Yes</span>
              </label>
              <label
                class="btn btn-sm btn-secondary"
                [btnRadio]="'-1'"
                tabindex="0"
                role="button"
              >
                <span>No</span>
              </label>
            </div>
            <lib-validation
              [control]="stepForm[4].controls.supertier"
            ></lib-validation>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label
              for="inputState"
              required
              [attr.non-editable]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{
                incentiveTooltipKeys['incentiveAgentPerformanceTier']
              }}"
              >Agent Performance Tier</label
            >
            <div class="table-responsive-md">
              <table class="table mb-1">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="text-left">Tier</th>
                    <th scope="col" class="text-left">Tier Name</th>
                    <th scope="col" class="text-left">
                      Payout (<span
                        *ngIf="
                          stepForm[3].controls['payoutInPercentage'].value ===
                            '1';
                          else this1
                        "
                        >%</span
                      >
                      <ng-template #this1>{{
                        currency | currencySymbol
                      }}</ng-template
                      >)
                    </th>
                    <th scope="col" class="text-left">Qualifying Range</th>
                    <th scope="col" class="text-left">Qualifying Info</th>
                    <th scope="col" class="text-left">Payout Info</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    formArrayName="tiers"
                    *ngFor="
                      let tier of tiers.controls;
                      let i = index;
                      let c = count
                    "
                  >
                    <tr [formGroupName]="i">
                      <td class="text-right vertical-align">{{ i + 1 }}</td>
                      <td class="text-left vertical-align">
                        <input
                          type="text"
                          class="form-control col-md-12 input-extended tier-w"
                          formControlName="tierName"
                          [readonly]="disableControl"
                        />
                        <lib-validation
                          [control]="tier.get('tierName')"
                        ></lib-validation>
                      </td>
                      <td class="text-right vertical-align">
                        <div class="input-group justify-content-center">
                          <span
                            class="input-extended-span"
                            [ngClass]="
                              stepForm[3].controls['payoutInPercentage']
                                .value === '0'
                                ? 'left'
                                : 'right'
                            "
                          >
                            <span
                              *ngIf="
                                stepForm[3].controls['payoutInPercentage']
                                  .value === '0'
                              "
                              class="position-abs"
                              [ngClass]="
                                (currency | currencySymbol).length > 1
                                  ? 'position-abs-l'
                                  : ''
                              "
                              id="inputGroupPayout"
                              >{{ currency | currencySymbol }}</span
                            >

                            <input
                              type="text"
                              class="input-extended input-height tier-w7"
                              formControlName="payout"
                              aria-describedby="inputGroupPayout"
                              [ngClass]="
                                stepForm[3].controls['payoutInPercentage']
                                  .value === '0'
                                  ? 'pr-1'
                                  : ''
                              "
                              [readonly]="disableControl"
                            />
                            <!-- <div
                            *ngIf="
                              stepForm[3].controls['payoutInPercentage']
                                .value === '1'
                            "
                            class="input-group-append"
                          > -->
                            <span
                              *ngIf="
                                stepForm[3].controls['payoutInPercentage']
                                  .value === '1'
                              "
                              class="position-abs-right"
                              id="inputGroupPayout"
                              >%</span
                            >
                            <!-- </div> -->
                          </span>
                        </div>
                        <lib-validation
                          *ngIf="!tier.get('payout')?.errors?.required"
                          [control]="tier.get('payout')"
                        ></lib-validation>
                        <div
                          *ngIf="tier.get('payout')?.errors?.required"
                          class="required-div"
                        >
                          This is required field.
                        </div>
                      </td>
                      <td class="text-right vertical-align">
                        <div class="input-group justify-content-center">
                          <span
                            class="input-extended-span"
                            [ngClass]="
                              selectedMajorKpi?.isMoney === true &&
                              selectedMajorKpi?.unit === null
                                ? 'left'
                                : 'right pr-27'
                            "
                          >
                            <span
                              *ngIf="
                                selectedMajorKpi?.isMoney === true &&
                                selectedMajorKpi?.unit === null
                              "
                              class="position-abs"
                              [ngClass]="
                                (currency | currencySymbol).length > 1
                                  ? 'position-abs-l'
                                  : ''
                              "
                              id="inputGroupThreshold"
                              >{{ currency | currencySymbol }}</span
                            >
                            <input
                              type="text"
                              class="input-extended input-height tier-w7 pr-1"
                              formControlName="threshold"
                              aria-describedby="inputGroupThreshold"
                              [readonly]="disableControl"
                            />
                            <!-- <div
                            *ngIf="
                              selectedMajorKpi?.isMoney === false &&
                              selectedMajorKpi?.unit !== null
                            "
                            class="input-group-append"
                          > -->
                            <span
                              *ngIf="
                                selectedMajorKpi?.isMoney === false &&
                                selectedMajorKpi?.unit !== null
                              "
                              class="position-abs-right"
                              id="inputGroupThreshold"
                              >{{ selectedMajorKpi?.unit }}</span
                            >
                            <!-- </div> -->
                          </span>
                        </div>
                        <lib-validation
                          *ngIf="!tier.get('threshold')?.errors?.required"
                          [control]="tier.get('threshold')"
                        ></lib-validation>
                        <div
                          *ngIf="tier.get('threshold')?.errors?.required"
                          class="required-div"
                        >
                          This is required field.
                        </div>
                        <div
                          class="custom-invalid-feedback"
                          *ngIf="stepForm[4].errors?.incremental"
                        >
                          Value should be incremental for tiers
                        </div>
                      </td>
                      <td class="text-left td-w-30p vertical-align">
                        <span
                          *ngIf="
                            selectedMajorKpi?.isMoney === true &&
                            selectedMajorKpi?.unit === null
                          "
                          >{{ currency | currencySymbol }}</span
                        >
                        <span>{{
                          stepForm[4].controls["supertier"].value === "1"
                            ? (tier.get("threshold")?.value | number: "1.2-2")
                            : (tiers.controls[0]?.get("threshold")?.value
                              | number: "1.2-2")
                        }}</span>
                        <span
                          *ngIf="
                            selectedMajorKpi?.isMoney === false &&
                            selectedMajorKpi?.unit !== null
                          "
                          >{{ " " + selectedMajorKpi?.unit }}</span
                        >
                        -
                        <span
                          *ngIf="
                            selectedMajorKpi?.isMoney === true &&
                            selectedMajorKpi?.unit === null
                          "
                          >{{
                            stepForm[4].controls["supertier"].value === "1"
                              ? i < c - 1
                                ? (currency | currencySymbol)
                                : ""
                              : (currency | currencySymbol)
                          }}</span
                        >{{
                          i < c - 1
                            ? (tiers.controls[i + 1]?.get("threshold")?.value -
                                0.01 | number: "1.2-2")
                            : stepForm[4].controls["supertier"].value === "1"
                            ? ""
                            : (tiers.controls[i]?.get("threshold")?.value
                              | number: "1.2-2")
                        }}
                        <span
                          *ngIf="
                            selectedMajorKpi?.isMoney === false &&
                            selectedMajorKpi?.unit !== null
                          "
                        >
                          {{
                            stepForm[4].controls["supertier"].value === "1"
                              ? i < c - 1
                                ? " " + selectedMajorKpi?.unit
                                : ""
                              : " " + selectedMajorKpi?.unit
                          }}</span
                        >
                        {{
                          i < c - 1
                            ? ""
                            : (stepForm[4].controls["supertier"].value === "1"
                                ? ""
                                : " and") + " above"
                        }}
                      </td>
                      <td class="text-left td-w-30p vertical-align">
                        <span
                          *ngIf="
                            stepForm[3].controls['payoutInPercentage'].value ===
                            '0'
                          "
                        >
                          {{
                            stepForm[3].controls["multiplier"].value === "1"
                              ? "each"
                              : "flat"
                          }}
                          {{ currency | currencySymbol }}</span
                        ><span
                          *ngIf="
                            stepForm[3].controls['payoutInPercentage'].value ===
                            '0'
                          "
                          >{{
                            tier.get("payout")?.value | number: "1.2-2"
                          }}</span
                        >
                        <span
                          *ngIf="
                            stepForm[3].controls['payoutInPercentage'].value ===
                            '1'
                          "
                          >{{ tier.get("payout")?.value }}</span
                        >
                        <span
                          *ngIf="
                            stepForm[3].controls['payoutInPercentage'].value ===
                            '1'
                          "
                          >%</span
                        >
                        <span
                          *ngIf="
                            stepForm[3].controls['payoutInPercentage'].value ===
                            '1'
                          "
                        >
                          of {{ getmultiplierKpiName() }}
                        </span>
                        <span
                          *ngIf="
                            stepForm[3].controls['payoutInPercentage'].value ===
                              '0' &&
                            stepForm[3].controls['multiplier'].value === '1'
                          "
                        >
                          of {{ getmultiplierKpiName() }}
                        </span>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <!-- <lib-validation [control]="stepForm[4].controls.supertier"></lib-validation> -->
          </div>
        </div>
      </form>
    </ng-container>
    <!-- Hide location tier start -->
    <!-- <ng-container 6>
      <form [formGroup]="stepForm[5]">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="locationTierQualify" required
            appTooltip entity="{{tooltipEntity}}" tooltipKey = "{{incentiveTooltipKeys['incentiveLocationTier']}}"
              >Are agents allowed to qualify for the higher tier, if the
              location target is achieved?</label
            >
            <div class="clearfix"></div>
            <div
              class="btn-group"
              [ngClass]="kid && !editabledControl ? 'disableDiv' : ''"
              btnRadioGroup
              formControlName="locationTierQualify"
              [disabled]="kid && !editabledControl ? true : false"
            >
              <label
                class="btn ml-0 btn-sm btn-secondary"
                [ngClass]="kid && !editabledControl ? 'disabled-label' : ''"
                [btnRadio]="'1'"
                tabindex="0"
                role="button"
                [disabled]="kid && !editabledControl ? true : false"
                appTooltip entity="{{tooltipEntity}}" tooltipKey = "{{incentiveTooltipKeys['incentiveLocationTierYes']}}"
              >
                <span>Yes</span>
              </label>
              <label
                class="btn btn-sm btn-secondary"
                [btnRadio]="'0'"
                [ngClass]="kid && !editabledControl ? 'disabled-label' : ''"
                tabindex="0"
                role="button"
                [disabled]="kid && !editabledControl ? true : false"
                appTooltip entity="{{tooltipEntity}}" tooltipKey = "{{incentiveTooltipKeys['incentiveLocationTierNo']}}"
              >
                <span>No</span>
              </label>
            </div>
            <lib-validation
              [control]="stepForm[5].controls.locationTierQualify"
            ></lib-validation>
          </div>
        </div>
        <div class="form-row">
          <div
            class="form-group col-md-12"
            *ngIf="stepForm[5].controls['locationTierQualify'].value === '1'"
          >
            <label for="inputState" required appTooltip entity="{{tooltipEntity}}" tooltipKey = "{{incentiveTooltipKeys['incentivePerformanceTier']}}">Location Performance Tier</label>
            <div
              class="col-md-10 pl-0 btn-group"
              [ngClass]="kid && !editabledControl ? 'disabledDiv' : ''"
              btnRadioGroup
              formControlName="locationBasedCommon"
              [disabled]="kid && !editabledControl ? true : false"
            >
              <label
                class="btn ml-0 btn-sm btn-secondary"
                [btnRadio]="'1'"
                [ngClass]="kid && !editabledControl ? 'disableDiv' : ''"
                tabindex="0"
                role="button"
                [disabled]="kid && !editabledControl ? true : false"
              >
                <span>Same threshold for all cycles</span>
              </label>
              <label
                class="btn btn-sm btn-secondary"
                [btnRadio]="'0'"
                [ngClass]="kid && !editabledControl ? 'disableDiv' : ''"
                tabindex="0"
                role="button"
                [disabled]="kid && !editabledControl ? true : false"
              >
                <span>Configure each threshold cycles</span>
              </label>
            </div>
            <div
              *ngIf="stepForm[5].controls['locationBasedCommon'].value === '1'"
              class="table-responsive-md locationTable"
            >
              <table class="table mb-1">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="text-center">Tier</th>
                    <th scope="col" class="text-center">Agent Tier Name</th>
                    <th scope="col" class="text-center">
                      Agent Payout (<span
                        *ngIf="
                          stepForm[3].controls['payoutInPercentage'].value ===
                            '1';
                          else this1
                        "
                        >%</span
                      >
                      <ng-template #this1>{{
                        currency | currencySymbol
                      }}</ng-template
                      >)
                    </th>
                    <th scope="col" class="text-center">
                      Agent Location Threshold Enabled
                    </th>
                    <th scope="col" class="text-center">Threshold</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    formArrayName="locationTiers"
                    *ngFor="let tier of locationTiers.controls; let i = index"
                  >
                    <tr [formGroupName]="i">
                      <td class="text-right vertical-align">{{ i + 1 }}</td>
                      <td class="text-left vertical-align">
                        <label>{{ tier.get("locationTierName")?.value }}</label>
                      </td>
                      <td class="text-left vertical-align">
                        <div class="input-group justify-content-center">
                          <span
                            [ngClass]="
                              stepForm[3].controls['payoutInPercentage']
                                .value === '0'
                                ? 'left'
                                : 'right'
                            "
                          >
                            <span
                              *ngIf="
                                stepForm[3].controls['payoutInPercentage']
                                  .value === '0'
                              "
                              id="inputGrouplocationTierPayout"
                              >{{ currency | currencySymbol }}</span
                            >
                            <label>{{
                              stepForm[3].controls["payoutInPercentage"]
                                .value === "0"
                                ? (tier.get("locationTierPayout")?.value
                                  | number: "1.2-2")
                                : tier.get("locationTierPayout")?.value
                            }}</label>
                            <span
                              *ngIf="
                                stepForm[3].controls['payoutInPercentage']
                                  .value === '1'
                              "
                              id="inputGrouplocationTierPayout"
                              >%</span
                            >
                          </span>
                        </div>
                      </td>
                      <td class="text-left vertical-align">
                        <label
                          class="switch mt-2 mb-2"
                          [hidden]="kid && !editabledControl"
                        >
                          <input
                            type="checkbox"
                            checked
                            value="true"
                            formControlName="locationTierEnabled"
                          />
                          <span class="slider round"></span>
                        </label>

                        <label class="switchLabel">
                          {{
                            tier.get("locationTierEnabled")?.value == 1
                              ? "Yes"
                              : "No"
                          }}
                        </label>
                      </td>
                      <td class="text-right vertical-align">
                        <div class="input-group justify-content-center">
                          <span class="input-extended-span left">
                            <span
                              class="position-abs"
                              id="inputGrouplocationTierThreshold"
                              >{{ currency | currencySymbol }}</span
                            >
                            <input
                              type="text"
                              class="input-extended input-height"
                              formControlName="locationTierThreshold"
                              aria-describedby="inputGrouplocationTierThreshold"
                              [readOnly]="
                                tier.get('locationTierEnabled')?.value == 1
                                  ? disableControl
                                    ? true
                                    : false
                                  : true
                              "
                            />
                          </span>
                        </div>
                        <lib-validation
                          *ngIf="
                            !tier.get('locationTierThreshold')?.errors?.required
                          "
                          [control]="tier.get('locationTierThreshold')"
                        ></lib-validation>
                        <div
                          *ngIf="
                            tier.get('locationTierThreshold')?.errors?.required
                          "
                          class="required-div"
                        >
                          This is required field.
                        </div>
                        <div
                          class="custom-invalid-feedback"
                          *ngIf="stepForm[5].errors?.incremental"
                        >
                          Value should be incremental for tiers
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <div
              *ngIf="stepForm[5].controls['locationBasedCommon'].value === '0'"
              class="table-responsive-md locationTable"
            >
              <table class="table mb-1">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="text-center">Tier Name</th>
                    <th
                      scope="col"
                      class="text-center"
                      *ngFor="
                        let tier of stepForm[4].get('tiers')?.value;
                        let i = index
                      "
                    >
                      {{ tier.tierName }}
                    </th>
                  </tr>
                  <tr style="background: #6e87a1 !important; color: white">
                    <td scope="col" class="text-center">
                      Payout (<span
                        *ngIf="
                          stepForm[3].controls['payoutInPercentage'].value ===
                            '1';
                          else this1
                        "
                        >%</span
                      >
                      <ng-template #this1>{{
                        currency | currencySymbol
                      }}</ng-template
                      >)
                    </td>
                    <td
                      scope="col"
                      class="text-center"
                      *ngFor="
                        let tier of stepForm[4].get('tiers')?.value;
                        let i = index
                      "
                    >
                      <span
                        *ngIf="
                          stepForm[3].controls['payoutInPercentage'].value ===
                          '0'
                        "
                        class="position-abs"
                        id="inputGrouplocationTierPayout"
                        >{{ currency | currencySymbol }}</span
                      >
                      {{
                        stepForm[3].controls["payoutInPercentage"].value === "0"
                          ? (tier.payout | number: "1.2-2")
                          : tier.payout
                      }}
                      <span
                        *ngIf="
                          stepForm[3].controls['payoutInPercentage'].value ===
                          '1'
                        "
                        class="position-abs-right"
                        id="inputGrouplocationTierPayout"
                        >%</span
                      >
                    </td>
                  </tr>
                  <tr style="background-color: #e3e3e9">
                    <td>Agent Location Threshold Enabled</td>
                    <td
                      scope="col"
                      class="text-center"
                      *ngFor="
                        let tier of stepForm[4].get('tiers')?.value;
                        let i = index
                      "
                    >
                      <label
                        class="switch mt-2 mb-2"
                        [hidden]="kid && !editabledControl"
                      >
                        <input
                          type="checkbox"
                          checked
                          value="true"
                          checked
                          ng-true-value="1"
                          ng-false-value="0"
                          id="enabled{{ i }}"
                          (change)="enabledLoctionTier(i, $event)"
                        />
                        <span class="slider round"></span>
                      </label>
                      <br />
                      <label>
                        {{ printLabel(i) }}
                      </label>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    formArrayName="monthlyLocationTiers"
                    *ngFor="
                      let interval of monthlyLocationTiers.controls;
                      let i = index;
                      let c = count
                    "
                  >
                    <tr [formGroupName]="i">
                      <td class="text-center vertical-align">
                        {{
                          interval.get("frequency")?.value == 3
                            ? interval.get("monthName")?.value
                            : interval.get("fromDateStr")?.value
                        }}
                        {{ interval.get("frequency")?.value == 3 ? "" : "~" }}
                        {{
                          interval.get("frequency")?.value == 3
                            ? interval.get("year")?.value
                            : interval.get("toDateStr")?.value
                        }}
                        <label
                          class="pull-right"
                          (click)="applyToAll(i)"
                          *ngIf="c !== 1"
                        >
                          <i
                            class="info-icon fas fa-info-circle"
                            aria-hidden="true"
                            data-placement="left"
                            data-toggle="tooltip"
                            title="Apply to all"
                          ></i>
                        </label>
                      </td>
                      <ng-container
                        formArrayName="tierThresholds"
                        *ngFor="
                          let formGroup of tierThresholds(i).controls;
                          let j = index
                        "
                      >
                        <td
                          class="text-center vertical-align"
                          [formGroupName]="j"
                        >
                          <div class="input-group justify-content-center">
                            <span class="input-extended-span left">
                              <span
                                class="position-abs"
                                id="inputGrouplocationTierThreshold"
                                >{{ currency | currencySymbol }}</span
                              >
                              <input
                                type="text"
                                class="input-extended input-height"
                                formControlName="tierThreshold"
                                aria-describedby="inputGrouplocationTierThreshold"
                                style="width: 5rem"
                                [readOnly]="
                                  formGroup.get('isLocationTierEnabled')
                                    ?.value == 1
                                    ? disableControl
                                      ? true
                                      : false
                                    : true
                                "
                              />
                            </span>
                          </div>
                          <lib-validation
                            *ngIf="
                              !formGroup.get('tierThreshold')?.errors?.required
                            "
                            [control]="formGroup.get('tierThreshold')"
                          ></lib-validation>
                          <div
                            *ngIf="
                              formGroup.get('tierThreshold')?.errors?.required
                            "
                            class="required-div"
                          >
                            This is required field.
                          </div>
                          <div
                            class="custom-invalid-feedback"
                            *ngIf="stepForm[5].errors?.incremental"
                          >
                            Value should be incremental for tiers
                          </div>
                        </td>
                      </ng-container>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </ng-container> -->
    <!-- Hide location tier End -->
    <ng-container 6>
      <!-- Update when show location tier -->
      <form [formGroup]="stepForm[5]">
        <div class="form-row mt-3">
          <div class="form-group col-md-12">
            <label
              for="productSpecific"
              required
              [attr.non-editable]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{
                incentiveTooltipKeys['incentiveProductSpecific']
              }}"
              >Is this Incentive Plan specific for a product or a group of
              products?</label
            >
            <div class="clearfix"></div>
            <div
              class="btn-group"
              btnRadioGroup
              formControlName="productSpecific"
              [class.disableDiv]="disableControl"
            >
              <label
                class="btn ml-0 btn-sm btn-secondary"
                [btnRadio]="'1'"
                tabindex="0"
                role="button"
                appTooltip
                entity="{{ tooltipEntity }}"
                tooltipKey="{{
                  incentiveTooltipKeys['incentiveProductSpecificYes']
                }}"
              >
                <span>Yes</span>
              </label>
              <label
                class="btn btn-sm btn-secondary"
                [btnRadio]="'0'"
                tabindex="0"
                role="button"
                appTooltip
                entity="{{ tooltipEntity }}"
                tooltipKey="{{
                  incentiveTooltipKeys['incentiveProductSpecificNo']
                }}"
              >
                <span>No</span>
              </label>
            </div>
            <lib-validation
              [control]="stepForm[5].controls.productSpecific"
            ></lib-validation>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label
              for="productThreshold"
              required
              [attr.non-editable]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{ incentiveTooltipKeys['incentiveThreshold'] }}"
              >Would you like limit the commission on specific product or group
              of products?</label
            >
            <span
              class="bs-tool-parent"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{
                incentiveTooltipKeys['incentiveThresholdInformation']
              }}"
              componentType="information"
            ></span>
            <div class="clearfix"></div>
            <div
              class="btn-group"
              btnRadioGroup
              formControlName="productThreshold"
              [class.disableDiv]="disableControl"
            >
              <label
                class="btn ml-0 btn-sm btn-secondary"
                [btnRadio]="'1'"
                tabindex="0"
                role="button"
                appTooltip
                entity="{{ tooltipEntity }}"
                tooltipKey="{{ incentiveTooltipKeys['incentiveThresholdYes'] }}"
              >
                <span>Yes</span>
              </label>
              <label
                class="btn btn-sm btn-secondary"
                [btnRadio]="'0'"
                tabindex="0"
                role="button"
                appTooltip
                entity="{{ tooltipEntity }}"
                tooltipKey="{{ incentiveTooltipKeys['incentiveThresholdNo'] }}"
              >
                <span>No</span>
              </label>
            </div>
            <lib-validation
              [control]="stepForm[5].controls.productThreshold"
            ></lib-validation>
          </div>
        </div>
        <div
          class="form-row"
          *ngIf="
            (stepForm[5].get('productThreshold')?.value === '1' &&
              stepForm[5].controls['productSpecific'].value === '1') ||
            stepForm[5].controls['productThreshold'].value === '1'
          "
        >
          <div class="form-group col-md-12">
            <label for="inputState" [attr.non-editable]="disableControl"
              >Product Threshold Configuration</label
            >
            <div class="table-responsive-md">
              <table class="table mb-1">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="text-left">Product</th>
                    <th scope="col" class="text-left">Limit Type</th>
                    <th scope="col" class="text-left">Threshold</th>
                    <!-- <th scope="col" class="text-center">Per Unit</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="productThresholds.controls.length === 0">
                    <td colspan="3" class="text-center">
                      No product selected, Please select the product from below
                    </td>
                  </tr>
                  <ng-container
                    formArrayName="productThresholds"
                    *ngFor="
                      let productThreshold of productThresholds.controls;
                      let i = index
                    "
                  >
                    <tr [formGroupName]="i">
                      <td class="text-left vertical-align">
                        {{ productThreshold.get("productDetail")?.value?.name }}
                      </td>
                      <td class="text-left vertical-align">
                        <ng-select
                          formControlName="thresholdInPercentage"
                          [clearable]="false"
                          [readonly]="disableControl"
                        >
                          <ng-option [value]="'0'">{{
                            currency | currencySymbol
                          }}</ng-option>
                          <ng-option [value]="'1'">%</ng-option>
                        </ng-select>
                        <!-- <div  
                          class="btn-group"
                          btnRadioGroup
                          formControlName="thresholdInPercentage"
                          [class.disableDiv]="disableControl"
                        >
                          <label
                            class="btn ml-0 mt-0 btn-sm btn-secondary"
                            [btnRadio]="'0'"
                            tabindex="0"
                            role="button"
                          >
                            <span>{{ currency | currencySymbol }}</span>
                          </label>
                          <label
                            class="btn ml-0 mt-0 btn-sm btn-secondary"
                            [btnRadio]="'1'"
                            tabindex="0"
                            role="button"
                          >
                            <span>%</span>
                          </label>
                        </div> -->
                        <lib-validation
                          [control]="
                            productThreshold.get('thresholdInPercentage')
                          "
                        >
                        </lib-validation>
                      </td>
                      <td class="text-left vertical-align">
                        <div class="input-group">
                          <span
                            class="input-extended-span"
                            [ngClass]="
                              productThreshold.get('thresholdInPercentage')
                                ?.value === '0'
                                ? 'left'
                                : 'right'
                            "
                          >
                            <span
                              *ngIf="
                                productThreshold.get('thresholdInPercentage')
                                  ?.value === '0'
                              "
                              class="position-abs"
                              [ngClass]="
                                (currency | currencySymbol).length > 1
                                  ? 'position-abs-l'
                                  : ''
                              "
                              id="inputProductThreshold"
                              >{{ currency | currencySymbol }}</span
                            >
                            <!-- </div> -->
                            <input
                              type="text"
                              class="input-extended product-input-height input-width-10"
                              formControlName="threshold"
                              [ngClass]="
                                productThreshold.get('thresholdInPercentage')
                                  ?.value === '0'
                                  ? 'pr-1'
                                  : ''
                              "
                              aria-describedby="inputProductThreshold"
                              [readonly]="disableControl"
                            />
                            <!-- <div
                            *ngIf="
                              productThreshold.get('thresholdInPercentage')
                                ?.value === '1'
                            "
                            class="input-group-append"
                          > -->
                            <span
                              *ngIf="
                                productThreshold.get('thresholdInPercentage')
                                  ?.value === '1'
                              "
                              class="position-abs-right"
                              id="inputProductThreshold"
                              >%</span
                            >
                          </span>
                          <!-- </div> -->
                        </div>
                        <lib-validation
                          *ngIf="
                            !productThreshold.get('threshold')?.errors?.required
                          "
                          [control]="productThreshold.get('threshold')"
                        >
                        </lib-validation>
                        <div
                          *ngIf="
                            productThreshold.get('threshold')?.errors?.required
                          "
                          class="required-div"
                        >
                          This is required field.
                        </div>
                      </td>
                      <!-- <td class="text-center">
                        <div
                          *ngIf="
                            productThreshold.get('thresholdInPercentage')
                              ?.value === '0'
                          "
                          class="input-group justify-content-center"
                        >
                          <ng-select
                            class="form-field select-product"
                            formControlName="thresholdPerKpi"
                            [clearable]="false"
                            [items]="thresholdKPI"
                            bindLabel="name"
                            autofocus
                            bindValue="intId"
                            [readonly]="disableControl"
                          ></ng-select>
                        </div>
                        <div>N/A</div>
                        <lib-validation
                          [control]="productThreshold.get('thresholdPerKpi')"
                        >
                        </lib-validation>
                      </td> -->
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <div class="invalid-feedback">Please select product.</div>
          </div>
        </div>
        <div
          class="form-row"
          *ngIf="
            stepForm[5].controls['productSpecific'].value === '1' ||
            stepForm[5].controls['productThreshold'].value === '1'
          "
        >
          <div class="col-md-12 mb-2">
            <lib-selector
              *ngIf="productOptions && productOptions.items.length > 0"
              [options]="productOptions"
              (selectedItems)="selectedProductItems($event)"
              selectAlltooltipKey="selector.product.selectAll"
              deSelectAlltooltipKey="selector.product.deSelectAll"
            ></lib-selector>
            <div class="clearfix"></div>
            <div
              class="custom-invalid-feedback"
              *ngIf="
                stepForm[5].get('products')?.dirty &&
                stepForm[5].errors?.minSelection
              "
            >
              Please select the product.
            </div>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container 7>
      <!-- Update when show location tier -->
      <form [formGroup]="stepForm[6]">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label
              for="kicker"
              required
              [attr.non-editable]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{ incentiveTooltipKeys['incentiveKicker'] }}"
              >Do you want to set a kicker on the incentive?</label
            >
            <span
              class="bs-tool-parent"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{
                incentiveTooltipKeys['incentiveKickerInformation']
              }}"
              componentType="information"
            ></span>
            <div class="clearfix"></div>
            <div
              class="btn-group"
              btnRadioGroup
              formControlName="kicker"
              [class.disableDiv]="disableControl"
            >
              <label
                class="btn ml-0 btn-sm btn-secondary"
                [btnRadio]="'1'"
                tabindex="0"
                role="button"
                appTooltip
                entity="{{ tooltipEntity }}"
                tooltipKey="{{ incentiveTooltipKeys['incentiveKickerYes'] }}"
              >
                <span>Yes</span>
              </label>
              <label
                class="btn btn-sm btn-secondary"
                [btnRadio]="'0'"
                tabindex="0"
                role="button"
                appTooltip
                entity="{{ tooltipEntity }}"
                tooltipKey="{{ incentiveTooltipKeys['incentiveThresholdNo'] }}"
              >
                <span>No</span>
              </label>
            </div>
            <lib-validation
              [control]="stepForm[6].controls.kicker"
            ></lib-validation>
          </div>
          <div
            class="form-group col-md-6 input-control margin-top-6"
            *ngIf="stepForm[6].contains('kickerKpi')"
          >
            <div class="clearfix"></div>
            <ng-select
              class="form-field-big"
              formControlName="kickerKpi"
              [clearable]="false"
              [items]="majorKpis"
              bindLabel="name"
              autofocus
              bindValue="intId"
              [readonly]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{ incentiveTooltipKeys['incentiveKickerSelect'] }}"
            ></ng-select>
            <label required>Select Kicker</label>
            <lib-validation
              [control]="stepForm[6].controls.kickerKpi"
            ></lib-validation>
          </div>
        </div>
        <div class="form-row">
          <div
            class="form-group col-md-6"
            *ngIf="
              stepForm[6].contains('kickerMin') &&
              stepForm[6].contains('kickerMax')
            "
          >
            <label
              for="kickerKpi"
              required
              [attr.non-editable]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{ incentiveTooltipKeys['incentiveKickerRange'] }}"
              >Kicker qualifying range</label
            ><span
              class="bs-tool-parent"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{
                incentiveTooltipKeys['incentiveKickerRangeInformation']
              }}"
              componentType="information"
            ></span>
            <div class="clearfix"></div>
            <div class="d-flex align-items-center">
              <span class="mr-2"
                >Min {{ finalObject.majorKpiKickerDetail.kpiPrepand }}
                {{ finalObject.majorKpiKickerDetail.kpiAppand }}</span
              >
              <input
                type="text"
                formControlName="kickerMin"
                class="form-control w-20p kicker-border"
                [readonly]="disableControl"
              />
              <span class="ml-2 mr-2">
                to Max {{ finalObject.majorKpiKickerDetail.kpiPrepand }}
                {{ finalObject.majorKpiKickerDetail.kpiAppand }}
              </span>
              <input
                type="text"
                formControlName="kickerMax"
                class="form-control w-20p kicker-border"
                [readonly]="disableControl"
              />
            </div>
            <div class="d-flex align-items-center">
              <lib-validation
                [control]="stepForm[6].controls.kickerMin"
              ></lib-validation>
              <div class="ml-2">
                <lib-validation
                  [control]="stepForm[6].controls.kickerMax"
                ></lib-validation>
              </div>
            </div>
            <div
              class="custom-invalid-feedback"
              *ngIf="stepForm[6].errors?.incremental"
            >
              Max value should be greater than min value.
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="col-md-12 pl-0 pr-0 d-flex">
              <div
                class="col-md-6 pl-0"
                *ngIf="stepForm[6].contains('kickerPayoutInPercentage')"
              >
                <label
                  for="kickerKpi"
                  required
                  [attr.non-editable]="disableControl"
                  >Kicker payout in</label
                >
                <div class="clearfix"></div>
                <div
                  class="btn-group"
                  btnRadioGroup
                  formControlName="kickerPayoutInPercentage"
                  [class.disableDiv]="disableControl"
                >
                  <label
                    class="btn ml-0 mt-0 btn-sm btn-secondary"
                    [btnRadio]="'0'"
                    tabindex="0"
                    role="button"
                    appTooltip
                    entity="{{ tooltipEntity }}"
                    tooltipKey="{{
                      incentiveTooltipKeys['incentiveKickerPayoutCurrency']
                    }}"
                  >
                    <span>{{ currency | currencySymbol }}</span>
                  </label>
                  <label
                    class="mt-0 btn btn-sm btn-secondary"
                    [btnRadio]="'1'"
                    tabindex="0"
                    role="button"
                    appTooltip
                    entity="{{ tooltipEntity }}"
                    tooltipKey="{{
                      incentiveTooltipKeys['incentiveKickerPayoutPercentage']
                    }}"
                  >
                    <span>%</span>
                  </label>
                </div>
                <lib-validation
                  [control]="stepForm[6].controls.kickerPayoutInPercentage"
                ></lib-validation>
              </div>
              <div
                class="col-md-6 pl-0 pr-0"
                *ngIf="stepForm[6].contains('kickerPayout')"
              >
                <div class="clearfix"></div>
                <div class="input-group input-control">
                  <div>
                    <div
                      *ngIf="
                        stepForm[6].controls['kickerPayoutInPercentage']
                          .value === '0'
                      "
                      class="input-group-prepend"
                    >
                      <span
                        class="input-group-text input-extended-kicker kicker-currency"
                        id="kickerPayout"
                        >{{ currency | currencySymbol }}</span
                      >
                    </div>
                  </div>
                  <input
                    type="text"
                    class="col-md-9"
                    formControlName="kickerPayout"
                    aria-describedby="kickerPayout"
                    [readonly]="disableControl"
                    [ngClass]="
                      stepForm[6].controls['kickerPayoutInPercentage'].value ===
                      '0'
                        ? 'border-radius-left pl-2'
                        : 'border-radius-right pl-17'
                    "
                    appTooltip
                    entity="{{ tooltipEntity }}"
                    tooltipKey="{{
                      incentiveTooltipKeys['incentiveKickerValue']
                    }}"
                  />
                  <div>
                    <div
                      *ngIf="
                        stepForm[6].controls['kickerPayoutInPercentage']
                          .value === '1'
                      "
                      class="input-group-append"
                    >
                      <!-- <span
                  *ngIf="
                    stepForm[6].controls['kickerPayoutInPercentage'].value === '0'
                  "
                  class="kicker-extended-left"
                  id="kickerPayout"
                  >{{ currency | currencySymbol }}</span
                >
                <span
                  *ngIf="
                    stepForm[6].controls['kickerPayoutInPercentage'].value === '1'
                  "
                  class="kicker-extended"
                  id="kickerPayout"
                  >%</span
                > -->
                      <span
                        class="input-group-text kicker-input input-extended-kicker"
                        id="kickerPayout"
                        >%</span
                      >
                    </div>
                  </div>
                  <label
                    [ngClass]="
                      stepForm[6].controls['kickerPayoutInPercentage'].value ===
                      '0'
                        ? (currency | currencySymbol).length > 1
                          ? 'l-25'
                          : 'l-27'
                        : ''
                    "
                    required
                    >Kicker value</label
                  >
                </div>
                <lib-validation
                  *ngIf="!stepForm[6].get('kickerPayout')?.errors?.required"
                  [control]="stepForm[6].controls.kickerPayout"
                ></lib-validation>
                <div
                  *ngIf="stepForm[6].get('kickerPayout')?.errors?.required"
                  class="required-div"
                >
                  This is required field.
                </div>
              </div>
            </div>
            <div
              class="col-md-12 pl-0 pr-0"
              *ngIf="
                stepForm[6].contains('kickerPayout') &&
                stepForm[6].controls['kickerPayout'].value
              "
            >
              <span>
                Additional
                <span>{{
                  stepForm[6].controls["kickerPayoutInPercentage"].value === "0"
                    ? (currency | currencySymbol)
                    : ""
                }}</span
                ><span>{{
                  stepForm[6].controls["kickerPayoutInPercentage"].value === "0"
                    ? (stepForm[6].controls["kickerPayout"].value
                      | number: "1.2-2")
                    : ""
                }}</span
                ><span>
                  {{
                    stepForm[6].controls["kickerPayoutInPercentage"].value ===
                    "0"
                      ? " on"
                      : stepForm[6].controls["kickerPayout"].value + "% of"
                  }}</span
                >
                agent earning incentive in a cycle</span
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label
              for="maxPayout"
              [attr.non-editable]="disableControl"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{
                incentiveTooltipKeys['incentiveMaxCommissionPayout']
              }}"
              >Would you like to cap the commission payout amount?</label
            >
            <span
              class="bs-tool-parent"
              appTooltip
              entity="{{ tooltipEntity }}"
              tooltipKey="{{
                incentiveTooltipKeys['incentiveMaxCommissionPayoutInformation']
              }}"
              componentType="information"
            ></span>
            <div class="clearfix"></div>
            <div
              class="btn-group"
              btnRadioGroup
              formControlName="maxPayout"
              [class.disableDiv]="disableControl"
            >
              <label
                class="btn ml-0 btn-sm btn-secondary"
                [btnRadio]="'1'"
                tabindex="0"
                role="button"
                appTooltip
                entity="{{ tooltipEntity }}"
                tooltipKey="{{
                  incentiveTooltipKeys['incentiveMaxCommissionPayoutYes']
                }}"
              >
                <span>Yes</span>
              </label>
              <label
                class="btn btn-sm btn-secondary"
                [btnRadio]="'0'"
                tabindex="0"
                role="button"
                appTooltip
                entity="{{ tooltipEntity }}"
                tooltipKey="{{
                  incentiveTooltipKeys['incentiveMaxCommissionPayoutNo']
                }}"
              >
                <span>No</span>
              </label>
            </div>
            <lib-validation
              [control]="stepForm[6].controls.maxPayout"
            ></lib-validation>
          </div>
          <div
            class="form-group col-md-6 margin-top-8"
            *ngIf="stepForm[6].contains('maxIncentivePaidOut')"
          >
            <div class="clearfix"></div>
            <div class="input-group input-control">
              <span
                class="input-group-text commission-padding"
                id="inputGroupMaxPayoutAmount"
                >{{ currency | currencySymbol }}</span
              >
              <input
                type="text"
                class="col-md-10 border-radius-left pl-3"
                formControlName="maxIncentivePaidOut"
                aria-describedby="inputGroupMaxPayoutAmount"
                [readonly]="disableControl"
                appTooltip
                entity="{{ tooltipEntity }}"
                tooltipKey="{{ incentiveTooltipKeys['incentivePayoutCap'] }}"
              />
              <!-- <span
                class="kicker-extended-left"
                id="inputGroupMaxPayoutAmount"
                >{{ currency | currencySymbol }}</span
              > -->
              <label
                class="pl-kicker"
                [ngClass]="{
                  'l-unset': (currency | currencySymbol).length == 1
                }"
                required
                >Max commission payout for participants
              </label>
            </div>
            <lib-validation
              [control]="stepForm[6].controls.maxIncentivePaidOut"
            ></lib-validation>
          </div>
        </div>
        <!--  <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="holdPayout">Would you like to cap the agent commission payout?</label>
                        <span class="bs-tool-parent"><em class="info-icon  ml-1 fas fa-info-circle mr-2"
                            placement="right"
                            tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></em></span>
                        <div class="clearfix"></div>
                        <div class="btn-group " btnRadioGroup formControlName="holdPayout">
                            <label class="btn ml-0 btn-sm btn-secondary" [btnRadio]="'1'" tabindex="0" role="button">
                                <span>Yes</span>
                            </label>
                            <label class="btn btn-sm btn-secondary" [btnRadio]="'0'" tabindex="0" role="button">
                                <span>No</span>
                            </label>
                        </div>
                        <lib-validation [control]="stepForm[6].controls.holdPayout"></lib-validation>
                    </div>
                    <div class="form-group col-md-6" *ngIf="stepForm[6].contains('holdPayoutInPercentage')">
                        <label for="holdPayoutInPercentage">Cap commission payout in percentage?</label>
                        <div class="clearfix"></div>
                        <div class="btn-group " btnRadioGroup formControlName="holdPayoutInPercentage">
                            <label class="btn ml-0 btn-xs btn-secondary" [btnRadio]="'1'" tabindex="0" role="button">
                                <span>{{currency | currencySymbol}}</span>
                            </label>
                            <label class="btn btn-xs btn-secondary" [btnRadio]="'0'" tabindex="0" role="button">
                                <span>%</span>
                            </label>
                        </div>
                        <lib-validation [control]="stepForm[6].controls.holdPayoutInPercentage"></lib-validation>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" *ngIf="stepForm[6].contains('holdPayoutAmount')">
                        <label for="holdPayoutAmount" required>Max cap commission</label>
                        <div class="clearfix"></div>
                        <div class="input-group">
                            <div *ngIf="stepForm[6].controls['holdPayoutInPercentage'].value === '0'" class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupHoldPayout">{{currency | currencySymbol}}</span>
                            </div>
                            <input type="text" class="form-control col-md-6" formControlName="holdPayoutAmount" aria-describedby="inputGroupHoldPayout">
                            <div *ngIf="stepForm[6].controls['holdPayoutInPercentage'].value === '1'" class="input-group-append">
                                <span class="input-group-text" id="inputGroupHoldPayout">%</span>
                            </div>
                        </div>
                        <lib-validation [control]="stepForm[6].controls.holdPayoutAmount"></lib-validation>
                    </div>
                    <div class="form-group col-md-6" *ngIf="stepForm[6].contains('holdPayoutDate')">
                        <label for="holdPayoutDate" required>Max cap commission</label>
                        <div class="clearfix"></div>
                        <input type="text" class="form-control col-md-6" formControlName="holdPayoutDate">
                        <lib-validation [control]="stepForm[6].controls.holdPayoutDate"></lib-validation>
                    </div>
                </div> -->
      </form>
    </ng-container>
    <ng-container 8>
      <!-- Update when show location tier -->
      <incentive-summary
        [finalObject]="finalObject"
        [cycleIntervals]="cycleIntervals"
        [userInAnotherPlan]="userInAnotherPlan"
        [showEdit]="true"
        (editClick)="goto($event)"
      ></incentive-summary>
    </ng-container>
  </lib-wizard>
</div>
<div class="col-md-12 mt-4" [class.hide]="!debugMode">
  {{ stepForm[0].value | json }} {{ stepForm[2].value | json }}
  {{ stepForm[1].value | json }} {{ stepForm[3].value | json }}
  {{ stepForm[4].value | json }}
  {{ stepForm[5].value | json }} {{ stepForm[6].value | json }}
  <!-- Location tier code remove -->
  <!-- {{ stepForm[5].value | json }} -->
</div>
<!-- Modal popup to confirm/cancel/prompt user  -->
<lib-custom-modal (clickEmit)="modalClickEvent($event)"> </lib-custom-modal>
