@import "../styles/styles.scss";
@import "../styles/input.scss";
.header-container {
  margin: 30px;
  margin-bottom: 0px;
}

hr {
  margin-top: 5px;
}

.steps {
  font-size: 12px;
  color: $text-ligh-gray;
  position: relative;
}

.info-icon {
  font-size: 15px;
  color: $button-blue;
}

.two-edge {
  display: flex;
  justify-content: space-between;
}

.step-list > ul {
  padding-inline-start: 0px;
  counter-reset: section;
  list-style-type: none;
}

.step-list ul {
  list-style-type: none;
}

.step-list li {
  padding-top: 6px;
  padding-left: 3px;
  color: $text-ligh-gray;
  font-size: 12px;
}

.step-list > ul > li {
  margin-bottom: 10px;
  color: $font-color-black;
  font-size: 14px;
}

.step-list > ul > li > ul {
  display: none;
}

.step-list > ul > li.active > ul {
  display: block;
}

.step-list > ul > li.completed::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 1 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e") !important;
  background-color: $header-dark !important;
  color: $button-white !important;
}

.step-list > ul > li.active::before {
  background-color: $button-blue !important;
  color: $button-white !important;
}

.step-list > ul > li::before {
  counter-increment: section;
  content: counters(section, ".") "";
  background-color: $button-white-hover;
  border-radius: 50%;
  padding: 3px 8px;
  margin: 10px;
  color: $font-color-black;
  font-size: 14px;
}

.x-info {
  color: $text-ligh-gray;
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.btn-group label {
  margin: 10px;
  border-radius: 6px !important;
  color: $text-ligh-gray;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.td-w-30p {
  width: 30%;
}

.btn-image {
  height: 112px;
  width: 112px;
}

.font-black {
  color: $text-ligh-gray;
}

.btn-image em {
  margin-top: 10px;
  font-size: 40px;
}

.btn-image span {
  /* padding-top: 12px; */
  margin-top: 5px;
  line-height: 1.25;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $font-color-black;
}

.btn-xs {
  min-width: 33px !important;
}

.btn-sm {
  min-width: 55px !important;
}

.btn-md {
  min-width: 88px !important;
}

.btn-xl {
  min-width: 112px !important;
}

.btn-xl-fix-width {
  max-width: 112px !important;
}

.btn-image-small label span {
  margin-top: 0px;
}

.btn:not(:disabled):not(.disabled).active {
  background-color: $button-blue;
  border-color: $button-blue;
  color: $button-white;
}

.btn:not(:disabled):not(.disabled).active span {
  color: $button-white;
}

.light-color {
  color: $text-ligh-gray;
}

.agent-select {
  background-color: $input-bg-white;
  padding: 3px;
  margin: 5px;
  border: 1px solid $input-bg-white;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 0.3px $button-white-shadow;
  white-space: nowrap;
  margin-right: 8px;
  margin-left: 0px;
}

.h-32 {
  height: 32px;
}

.h-30 {
  height: 30px;
}

.agent-select.custom-control.custom-checkbox {
  padding-left: 3px;
  max-width: 180px;
  width: 180px;
}

.agent-select label.custom-control-label span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.agent-select label.custom-control-label {
  position: relative;
  padding-right: 1.5rem;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.agent-select label.custom-control-label::before,
.agent-select label.custom-control-label::after {
  top: 8px;
  right: 2px;
  left: auto;
}

.agent-select .custom-control-input:checked ~ .custom-control-label::before {
  // color: #fff;
  border-color: $text-ligh-gray;
  background-color: $button-white;
}

.agent-select.custom-checkbox
  .custom-control-input:checked
  ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e") !important;
}

.w-300p {
  width: 308%;
}

.scroll-x {
  overflow-x: auto;
}

td .form-control {
  display: table-cell !important;
  width: 50%;
}

.w-20p {
  width: 20%;
}

.ng-select.form-field.ng-select-single .ng-select-container,
.ng-select.form-field .ng-select-container {
  max-height: 33px;
  min-height: 33px !important;
}

.disableDiv * {
  opacity: 1 !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
.disableDiv {
  cursor: not-allowed !important;
}
.user-pointer {
  cursor: pointer;
  color: #0097e6;
}
.pl-3 {
  padding-left: 3px !important;
}
.pl-2 {
  padding-left: 2px !important;
}
.pl-17 {
  padding-left: 17px !important;
}
.disableDiv .btn {
  border: 1px solid #ccc !important;
  border-color: #ccc !important;
}
.w-40 {
  width: 40%;
}

.l-25 {
  left: 41px !important;
}
.l-27 {
  left: 27px !important;
}
.border-radius-left {
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.border-radius-right {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.commission-padding {
  padding-right: 0.2rem;
}
.kicker-input {
  border-radius: 0.25rem !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  padding-left: 0.4rem;
}
.kicker-currency {
  padding-right: 0.3rem;
}
.pl-kicker {
  top: 1px !important;
  padding-left: 1.6rem !important;
  width: 285px !important;
}
.input-extended-kicker {
  height: 3.1rem;
}
.input-extended-span {
  position: relative;
}
.input-extended-span.left input {
  padding-left: 2rem;
  text-align: end;
}
.input-extended-span.right input {
  padding-right: 18px;
  text-align: end;
}
.input-extended-span.pr-27 input {
  padding-right: 2.1rem !important;
}

.input-extended-span.right:before {
  position: absolute;
  top: 0;
}
.input-extended-span.left:before {
  left: 5px;
}
.input-extended-span.right:before {
  right: 5px;
}
.input-extended-span .position-abs {
  position: absolute;
  width: 0.5rem;
  left: 3px;
  font-size: 12px;
  top: 8px;
}
.input-extended-span .position-abs-l {
  width: 2rem !important;
}
.input-extended-span .position-abs-right {
  position: absolute;
  right: 6px;
  top: 8px;
}
.input-extended {
  border-radius: 0.25rem !important;
  position: initial;
  border: 1px solid #dee2e6 !important;
}
.input-extended:focus {
  outline: none;
  border: 1px solid #80bdff;
}

.input-height {
  height: calc(1.5em + 0.75rem + 2px);
}
.product-input-height {
  height: calc(1.6em + 0.85rem + 3px);
}
.tier-w {
  width: 5rem !important;
}
.tier-w7 {
  width: 7rem !important;
}
td .form-control {
  border: 1px solid #ced4da;
}
.select-product {
  width: 100%;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem;
}
.kicker-extended {
  font-size: 0.9rem;
  position: absolute;
  top: 1.4rem;
  right: 0.3rem;
}
.kicker-extended-left {
  font-size: 0.9rem;
  position: absolute;
  top: 1.45rem;
  left: 0.3rem;
}
.text-aligned {
  text-align: right;
}
.margin-top-6 {
  margin-top: 0.6rem !important;
}
.margin-top-8 {
  margin-top: 0.8rem !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}
.slider:before {
  left: 0px !important;
}
.switchLabel {
  padding-left: 5px;
  font-size: 12px;
}
.input-group-prepend .btn {
  z-index: 1;
}
.kicker-border {
  border: 1px solid #dee2e6;
}
.kicker-border:focus {
  border-color: #80bdff;
}
.disabled-label {
  cursor: not-allowed;
  text-decoration: none;
}
.vertical-align {
  vertical-align: top !important;
}
.required-div {
  color: #dc3545;
}
.locationTable input:read-only {
  background-color: #ccc;
}
.pl-51 {
  padding-left: 51%;
}
.l-unset {
  left: unset !important;
}
.input-width-10 {
  width: 10rem !important;
}
